@import "tailwindcss";

@theme {
  --color-cream: #f4ede5;
  --color-bcream: #F7F2EC;
  --color-line: #d6d2cd;
  --color-placeholder: #a6a6a6;
  --color-dark: #3a3a3a;
  --color-orange: #f79a1b;
  --color-borange: #F3D2A7;
  --color-gray: #E6E1DB;
  --color-brown: #cdbca7;
  --color-bbrown: #e9e0d7;
  --color-facebook: oklch(48.8% 0.243 264.376);
}